<div class="date_label"></div>

<div class="space">
</div>

<div class="control_bar">
  <a class="btn btn-primary" data-control-type="play" data-toggled-text=" Stop" data-toggled-icon="icon-stop" data-normal-icon="icon-play" data-normal-text=" Play" autocomplete="off"><i class="icon-play icon-white"></i> Play</a>
  <div class="year_slider"></div>
</div>

<script>
function setUniverseToDate( year, day )
{
   $('.date_label').html( year );
   move_planets( year, day );
}


function setUniverseToDay( the_day )
{
   year = Math.floor( the_day / SolarSystem.days_per_year ) + SolarSystem.initial_date.year
   day = (the_day % SolarSystem.days_per_year) + SolarSystem.initial_date.day
   setUniverseToDate( year, day );
}


$(function() {

  var slider = $(".control_bar .year_slider").slider({
    min: 1,
    max: Math.floor( SolarSystem.total_days() ),
    slide: function(event, ui) {
       setUniverseToDay( ui.value );
    }
  });

  var animation_id = null;
  $('a[data-control-type="play"]').button().click( function() {
    if( ! $(this).attr('data-is-toggled') ) {
       animation_id = setInterval( function() {
          slider.slider('value', slider.slider('value') + 10 );
          setUniverseToDay( slider.slider('value') );
       }, 100);

       $(this).html( '<i class="icon-stop icon-white"></i>' + $(this).attr('data-toggled-text') );
       $(this).attr('data-is-toggled', true);
    }
    else {
       clearInterval( animation_id );
       animation_id = null;
       $(this).html( '<i class="icon-play icon-white"></i>' + $(this).attr('data-normal-text') );
       $(this).attr('data-is-toggled', false);
    }
  });

  StartUniverse();
  setUniverseToDate( SolarSystem.initial_date.year, SolarSystem.initial_date.day );
});
</script>
